.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.pokemon-container {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Cor de fundo que destaca o Litten */
  background-color: #F59700; 
}

.pokemon-card {
  background-color: #F59700; 
  border: 5px solid #F57B00; 
  
  /* Tamanhos */
  border-radius: 15px; 
  padding: 1px;
  width: 190px;
  
  /* Sombra com brilho leve em laranja */
  box-shadow: 5px 5px 15px rgba(255, 69, 0, 0.3);
  
  /* Garantindo que o texto apareça bem no fundo escuro */
  color: black;
  text-align: center;
  font-family: sans-serif;
}

.figura {
  width: 159px; 
  height: 230px; 
  margin-top: 1px;
  background-image: url('../public/how-can-i-make-custom-battle-backgrounds-v0-d9spuwer2c491.webp');
  background-size: cover; /* Faz a imagem preencher todo o espaço */
  background-position: center;
 
}
